nav {
  padding: 20px;
  /* background: linear-gradient(45deg, rgb(0, 0, 0), blue); */
  background-attachment: fixed;


  background-image: url(https://images.unsplash.com/photo-1506611302792-8e9fdb8c4edf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}
a {
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  position: sticky;
}
nav:hover {
  background-color: rgb(26, 0, 26);
}
